/* Custom Font */
@font-face {
  font-family: 'NebulaHollow';
  src: url('/src/assets/font/Nebula-Hollow.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NulshockBold';
  src: url('/src/assets/font/Nulshock\ Bd.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


.services-btn {
  border: 1px solid #b28eff;
  box-shadow: 0 0 12px rgba(106, 64, 243, 0.5);
  font-family: 'NulshockBold', sans-serif;
  font-size: 4px;
  color: #fff;
  padding: 0.5px 20px;
  border-radius: 30px;
  background: transparent;
  margin: 20px auto;
  display: inline-block;
}

.service-card {
  background: linear-gradient(to right, #050113, #080014);
  background-color: #1c1c1c;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 20px;
  border: 1px solid white; /* Visible now */
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.3);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  transform-style: preserve-3d;
}

.service-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 25px rgba(138, 94, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.1);
}


.text-pink {
  color: #e45bff;
}

.service-title {

  font-family: 'NulshockBold', sans-serif;
  font-weight: bold;
  color: #00ffea;
}

h2 {

  font-family: 'NulshockBold', sans-serif;
  font-weight: bold;
  color: #00ffea;
}