/* Custom Font */
@font-face {
    font-family: 'NebulaHollow';
    src: url('/src/assets/font/Nebula-Hollow.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NulshockBold';
    src: url('/src/assets/font/Nulshock\ Bd.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


.services-btn {
  border: 1px solid #b28eff;
  box-shadow: 0 0 12px rgba(106, 64, 243, 0.5);
  font-family: 'NulshockBold', sans-serif;
  font-size: 4px;
  color: #fff;
  padding: 0.5px 20px;
  border-radius: 30px;
  background: transparent;
  margin: 20px auto;
  display: inline-block;
  }
  
  .service-card {
    background: #1a1a1a;
    color: white;
    border: none;
    border-radius: 1rem;
    transition: transform 0.3s;
    position: relative;
    z-index: 2;
  }
  
  .service-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(138, 94, 255, 0.4);
  }
  
  .text-pink {
    color: #e45bff;
  }
  
  .service-title{

    font-family: 'NulshockBold', sans-serif;
    font-weight: bold;
    color: #00ffea;
  }

  h2{
    
    font-family: 'NulshockBold', sans-serif;
    font-weight: bold;
    color: #00ffea;
  }


  