/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

/* Custom Font */
@font-face {
    font-family: 'NebulaHollow';
    src: url('/src/assets/font/Nebula-Hollow.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NulshockBold';
    src: url('/src/assets/font/Nulshock\ Bd.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


 .about-btn {
    border: 1px solid #b28eff;
    box-shadow: 0 0 12px rgba(106, 64, 243, 0.5);
    font-family: 'NulshockBold', sans-serif;
    font-size: 4px;
    color: #fff;
    padding: 0.5px 20px;
    border-radius: 30px;
    background: transparent;
    margin: 20px auto;
    display: inline-block;
    }

.about-heading {

    font-family: 'NulshockBold', sans-serif;
    font-weight: bold;
    color: #00ffea;
}


.about-contentBox {

    background: linear-gradient(135deg, #222244, #595968);
    /* Example gradient */
    padding: 1rem;
    border-radius: 0.8rem;

}


.about-content {
    font-size: 1rem;
    color: #d1d5db;
    line-height: 1.6;
}

.about-title-box {
    background: linear-gradient(to right, #1f1f2e, #2c2c3e);
    padding: 0.4rem 1rem;
    border-radius: 1rem;
    text-align: center;
    width: fit-content;
    margin: 3rem auto; /* center horizontally with spacing above */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  }
  
  .about-title-box h3 {
    font-size: 2rem;
    font-weight: 600;
    color: white;
    margin: 0;
  }
  
.underline-circle {
    width: 15px;
    height: 15px;
    margin: 0 auto;
    background: linear-gradient(to right, #ec4899, #8b5cf6);
    border-radius: 50%;
}


h2{

    font-family: 'NulshockBold', sans-serif;
    font-weight: bold;
    color: #00ffea;

}


h5{

    font-family: 'NulshockBold', sans-serif;
    font-weight: bold;
    color: #00ffea;

}



h2.section-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .highlight-text {
    font-weight: 700;
    font-size: 26px;
  }

  .info-box {
    background: rgba(255, 255, 255, 0.05);
    padding: 20px;
    border-radius: 12px;
    margin: 10px;
  }

  .unique-icon {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .projects-highlight {
    background: linear-gradient(to right, #6d28d9, #c084fc);
    color: #fff;
    padding: 50px 0;
    margin-top: 60px;
    border-radius: 0 0 100% 100% / 20%;
  }

  .projects-highlight h1 {
    font-size: 80px;
    font-weight: bold;
    margin: 0;
  }

  .projects-highlight p {
    font-size: 16px;
    margin-top: 10px;
  }