/* Custom Font */
@font-face {
    font-family: 'NebulaHollow';
    src: url('/src/assets/font/Nebula-Hollow.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}



.text-purple {
    color: #a98fff;
  }
  .card {
    background-color: #1c1c1c;
    border: none;
  }

  
  .client-btn {
    border: 1px solid #b28eff;
    box-shadow: 0 0 12px rgba(106, 64, 243, 0.5);
    font-family: 'NulshockBold', sans-serif;
    font-size: 4px;
    color: #fff;
    padding: 0.5px 20px;
    border-radius: 30px;
    background: transparent;
    margin: 20px auto;
    display: inline-block;
    }