html {
  scroll-behavior: smooth;
}

body {
    background: linear-gradient(to right, #050113, #080014);
    font-family: 'Poppins', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}


  /* Badge */
.tools-badge {
  display: inline-block;
  padding: 8px 24px;
  background: radial-gradient(circle at center, #5e4bff, #2e2b5f);
  border-radius: 50px;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
  box-shadow: 0 0 15px rgba(142, 124, 255, 0.8);
}